<!DOCTYPE html>
<html lang="en">
<head>
  <title>FAQ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color:#FFD7B0;">
    {% include 'include/navigator.html' %}
    <div data-spy="scroll"  class="container" >
        <div id="section1" class="container-fluid" style="padding-top:10px;padding-bottom:10px">
            <img src="/public/faq1.JPG" width="1100" height="720">
        </div>
        <div id="section2" class="container-fluid" style="padding-top:10px;padding-bottom:10px">
            <img src="/public/faq2.JPG" width="1100" height="720">
        </div>
        <div id="section3" class="container-fluid" style="padding-top:10px;padding-bottom:10px">
            <img src="/public/faq3.JPG" width="1100" height="720">
        </div>
        <div id="section4" class="container-fluid" style="padding-top:10px;padding-bottom:100px">
            <img src="/public/faq4.JPG" width="1100" height="720">
        </div>
    </div>
    {% include 'include/footer.html' %}
</body>
</html>