
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>board_list</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        thead > tr{
            border-top: 2px double #13912F;
            border-bottom: 2px double #13912F;
        }

        #ttrr{
            border-top: 1px double #13912F;
            border-bottom: 1px double #13912F;
        }

        .page-link {
          position: relative;
          color: #3E8E9D;
          background-color: rgba(0,0,0, 0);
          border: 1px solid #FFD7B0;
        }

         .page-link:hover{
          position: relative;
          color: #3E8E9D;
          background-color: #FF9185;
          border: 1px solid #FFD7B0;
        }
    </style>
    <script>
        function sort(){
            $.ajax({
            url:'/user_logout',
            success:function(result){
                alert('로그아웃 되셨습니다.')
                location.href = '/'
            }
        })
        }
    </script>
</head>
<body style="background-color: #FFD7B0">
{% include 'include/navigator.html' %}
<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-12">
            {% if status == 'board_list' %}
            <h1 style="color: #3E8E9D;">통합 게시판</h1>
            {% elif status == 'board_buy_list' %}
            <h1 style="color: #3E8E9D;">구매 게시판</h1>
            {% elif status == 'board_sell_list' %}
            <h1 style="color: #3E8E9D;">판매 게시판</h1>
            {% endif %}
            <div>
                <div class="clearfix">
                    <div class="float-right" >
                        <!--<select name="board_sort" id="board_sort" class="form-control" style="border: 1px solid #13912F; background-color: #FFD7B0">-->
                            <!--<option value="통합게시판" href="board_list">통합게시판</option>-->
                            <!--<option value="판매게시판" href="board_sell_list">판매게시판</option>-->
                            <!--<option value="구매게시판" href="board_buy_list">구매게시판</option>-->
                        <!--</select>-->

                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">게시판 분류</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownBoard">
                                <li>
                                    <a class="nav-link" href="/board_list" >통합 게시판</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="/board_sell_list" onclick="check_login(2)">판매 게시판</a>

                                </li>
                                <li>
                                    <a class="nav-link" href="/board_buy_list" onclick="check_login(3)">구매 게시판</a>
                                </li>
                            </ul>

                    </div>
                </div>
            </div>
            <table class="table table-hover mt-3" >
                <thead >
                <tr>
                    <th class="text-center" style="width: 5%">No.</th>
                    <th class="text-center">분류</th>
                    <th style="width: 60%">제목</th>
                    <th class="text-center">작성자</th>
                    <th class="text-center">작성날짜</th>
                </tr>
                </thead>
                <tbody>
                {% for idx in range(0, i): %}
                <tr id="ttrr">
                    <td class="text-center">{{data.boards[idx][0]}}</td>
                    {% if data.boards[idx][4] == 1 %}
                    <td class="text-center">구매</td>
                    {% elif data.boards[idx][4] == 2 %}
                    <td class="text-center">판매</td>
                    {% endif %}
                    <td>
                        <a href="/board_read1/{{data.boards[idx][0]}}">
                            {% if data.boards[idx][10] != None %}
                                {{data.boards[idx][5] + ' / 방 ' + data.boards[idx][6] + '개 / ' + data.boards[idx][7] + ' ~ ' + data.boards[idx][8]
                                + ' / ' + data.boards[idx][9] + '만원 /\t\t\t\t\t@'}}</a>
                            {% else %}
                                {{data.boards[idx][5] + ' / 방 ' + data.boards[idx][6] + '개 / ' + data.boards[idx][7] + ' ~ ' + data.boards[idx][8]
                                + ' / ' + data.boards[idx][9] + '만원 '}}</a>
                            {% endif %}
                    </td>
                    <td class="text-center">{{data.boards[idx][2]}}</td>
                    <td class="text-center">{{data.boards[idx][3]}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <ul class="pagination justify-content-center">

                <li class="page-item" style="background-color: #FFC085">
                    <a class="page-link" href="/{{status}}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for idx in range(1, data.num+1): %}
                <li class="page-item" style="background-color: #FFC085">
                    <a class="page-link" href="/{{status}}/{{idx}}">{{idx}}</a>
                </li>
                {% endfor %}
                <li class="page-item" style="background-color: #FFC085">
                    <a class="page-link" href="/{{status}}/{{data.num}}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
            <div class="form-group">
                <div class="clearfix">
                    <div class="float-right">
                        <a href="/board_write1" class="btn btn-primary">글쓰기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'include/footer.html' %}
</body>
</html>